<footer class="footer">
    <div class="container has-text-centered">
        The PieBot Website by <a href="https://oskikiboy.me/" class="has-text-info">oskikiboy</a>, PieBot by <b>TheFallingPie</b>.
    </div>
</footer>